@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400,500|IBM+Plex+Sans:300,400,500&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    color: #060A24;
    font-family: 'IBM Plex Mono', monospace;
}

.logo {
    display: flex;
    align-items: left;
    margin-left: 6.9%;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-transform: uppercase;
    text-decoration: none;
    color: #060A24;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
}

main {
    color: #060A24;
    margin-left: 200px;
    margin-right: 500px;
    letter-spacing: 0px;
    border: 1px;
    font-family: 'IBM Plex Sans', sans-serif;
    display: grid;
    margin-top: 20vh;
    grid-template-columns: 152px 179px 391px 18px;
    font-size: 64px;
}

.hello {
    text-align: center;
}

.world {
    text-align: center;
    text-decoration: line-through;
}

.pale {
    text-align: center;
}

.dot {
    text-align: center;
    color: #0000EC;
}

.subtitle {
    color: #060A24;
    display: grid;
    grid-template-columns: 628px;
    font-family: 'IBM Plex Mono', monospace;
    margin-left: 200px;
    margin-right: 612px;
}

.knowmore {
    text-decoration: #060A24;
    font-family: "IBM Plex Mono";
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0;
    margin-top: 56px;
    margin-left: 200px;
    height: 56px;
    width: 226px;
    background-color: #00F3BB;
    border: 0;
}

.episodios {
    transform: skewY(6deg);
    position: absolute;
    margin-top: 120px;
    font-family: "IBM Plex Sans";
    margin-left: 200px;
    margin-right: 1031px;
    font-size: 48px;
    color: #FFFFFF;
}

.c-podcast {
    position: relative;
    transform: skewY(-6deg);
    top: 85px;
    height: 120vh;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    display: flex;
    overflow: hidden;
}

.podcast {
    transform: skewY(6deg);
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 274px;
    display: grid;
    grid-template-columns: 620px 620px;
    grid-template-rows: 268px 268px;
}

.section-us {
    display: flex;
    position: relative;
}

.section-us h2 {
    color: #060A24;
    margin-top: 25%;
    margin-left: 8%;
    font-size: 48px;
    font-weight: normal;
    font-family: "IBM Plex Sans";
}

.section-us p {
    color: #060A24;
    font-size: 16px;
    line-height: 24px;
    max-width: 64.2%;
    max-height: 5.2%;
    margin-top: 2%;
    margin-left: 8%;
    font-family: "IBM Plex Mono";
}

.phone {
    margin-left: 13.9%;
    max-width: 31.8%;
    max-height: 16.9%;
}

.invitadas h2 {
    color: #060A24;
    font-family: "IBM Plex Sans";
    font-weight: normal;
    font-size: 48px;
    margin-left: 13.9%;
    margin-top: 5%;
}

.invitadas div {
    margin-top: 3%;
    font-size: 0;
}

.invitadas img {
    margin: -1px;
    max-height: 9.3%;
    max-width: 33.3%;
}

.topics h2 {
    color: #060A24;
    font-family: "IBM Plex Sans";
    font-weight: normal;
    font-size: 48px;
    margin-left: 13.9%;
    margin-top: 3%;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.child {
    color: #060A24;
    display: flex;
    flex-direction: column;
    width: 18.1%;
    height: 3.3%;
    margin-top: 3%;
}


}
.topics img {
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 3%;
}
.topics b {
    font-size: 24px;
    text-align: center;
}
.novedades {
    height: 65vh;
    width: 100%;
    overflow: hidden;
    display: flex;
}
.novedades div {
    position: relative;
    transform: translate(0px, 100px) skew(0deg, -4deg);
    height: 60vh;
    width: 100%;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    display: flex;
    flex-direction: column;
    z-index: -1;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.novedades h2 {
    font-family: "IBM Plex Sans";
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    font-weight: normal;
    transform: skewY(4deg);
    margin-bottom: 2%;
}
.novedades button {
    text-decoration: #060A24;
    font-family: "IBM Plex Mono";
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0;
    margin-bottom: 5%;
    height: 56px;
    width: 345px;
    transform: skewY(4deg);
    background-color: #00F3BB;
    border: 0;
    position: relative;
    text-align: center;
}
footer {
    color: #060A24;
    position: absolute;
    bottom: 1;
    height: 10vh;
    font-family: "IBM Plex Mono";
    display: inline-flex;
    align-items: center;
    margin-left: 6%;
}
#icon {
    letter-spacing: 36px;
    color: #060A24;
}
span {
    display: flex;
    justify-content: right;
    margin-left: 57vw;
}